


.container--cards{
  
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
  margin-right: 150px;
  margin-bottom: 80px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.style--img--post{
    width: 300px;
    height: 190px;
}

.style--like{
    width: 30px;
    height: 30px;
}

.container--tags{
    display: flex;
}

.container--likes{
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
}

.text--cards{
    font-size: 18px;
    margin-right: 20px;
    text-align: justify;
    font-weight: 300;
}

.style--tags{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color:#5e4a89;
    opacity: 0.8;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
  

}

.style--text--like{
    font-size: 20px;
    color: gray;
    margin-left: 10px;
margin-top: 7px;
}

.style--name--user--card{
    font-size: 18px;
    margin-left: 5px;
}

.img-user--post{
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.container--user--data--post{
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
}

.box1--cards--post{
    margin-top: 10px;
}

.box2--cards{
    margin-left: 15px;
}

.links--coments--cards{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    border-bottom:rgba(0, 0, 0, 0.2) solid 1px;
  
}

