



.container--navBar{
    width: auto;
    height: 100px;
background-color: #5e4a89;
margin-bottom: 80px;

}

.container--data--user{
    display: flex;
    margin-left: 50px;
    padding-top: 25px;
   
    
}

.text--data--user{
margin: 0px;
color: white;
font-size: 20px;
margin-top: 10px;
margin-left: 10px;

}

.img--user--header{
    border-radius: 100px;
    width: 40px;
    height: 40px;
}